*{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@font-face {
    font-family: "Anime ace bb";
    src: url("../fonts/animeace2_reg.ttf");
}
body{
    margin: 0;
    padding: 0;
}
.slot{
    background-color: aqua;
    padding: 5px;
    text-align: center;
    min-width: 242px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.site-header{
    background-color: #F6A5C0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.main-menu{
    height: 60px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    gap: 50px;
    color: white;
}

@media (max-width: 600px) {
    .element:not(:nth-child(3)) {
      display: none;
    }
  }

.element:nth-child(2) {
    margin-right: 90px;
  }
  
  .element:nth-child(3) {
    margin-left: 90px;
    position: relative;
    right: 40px;
  }
.contact{
    display: flex;
    align-items: center;
    font-size: large;
}
.contact-button{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.contact p{
    margin-left: 10px;
}
.carrito{
    display: flex;
    align-items: center;
}
.ventana-carritos{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
}
.search{
    width: 360px;
    display: flex;
    align-items: center;
}
.search-textfile{
    height: 40px;
    width: 320px;
    border: none;
    display: inline-block;
    padding-left: 10px;
}
.button-search{
    background-color: white;
    background-image: url(../images/lupa.png);
    background-repeat: no-repeat;
    background-position: 5PX;
    background-size: 30px;
    width: 40px;
    height: 40px;
    border: none;
    display: inline-block;
}
.button-search:hover {
    background-color: #CBA0D3;
}
.images-container{
    max-height: 35px;
    display: flex;
    flex-wrap: nowrap;
}
.images-container button{
    background-color: transparent;
    border: none;
    margin: 0px 10px;
}
.images-container img{
    height: 30px;
}
.init-bar{
    height: 60px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #fc89af;
}
.elementInit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}
.elementInit button{
    background-color: transparent;
    border: none;
    color: white;
}
.logo h1{
    text-align: center;
    font-size: 19px;
    font-family: "Anime ace bb";
    color: white;
}
.store{
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
}

main{
    height:fit-content;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 153px;
}
.special{
    overflow: hidden;
}
.special img{
    min-width: 100%;
    min-height: 395px;
    max-height: 395px;
}
.contenedor-ofertas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap;
}
.ofert{
    max-width: 475px;
    max-height: 532px;
    background-color: #CBA0D3;
    text-align: center;
    margin: 10px 10px;
    font-family: "Anime ace bb";
}
.ofert h3{
    font-family: "Anime ace bb";
}
.ofert a{
    text-decoration: none;
    color: inherit;
}
.ofert img{
    width: 100%;
    height: auto;
}
.Container-Animes{
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.Container-Animes h2{
    margin-left: 50px;
    margin-bottom: 15px;
    font-family: "Anime ace bb";
}
.Container-Animes .slider{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 5px;
    height: fit-content;
    overflow: hidden;
    margin-left: 70px;
    margin-right: 50px;
    flex-wrap: wrap;
}
.Container-Animes .slider img{
    margin: 12px;
    height: 100%;
    width: 250px;
    object-fit: contain;
    margin-left: 50px;
}

.footer-content {
    position: absolute;
    width: 100%;
    height:fit-content;
    position: relative;
    padding-top: 40px;
    text-align: center;
    font-size: large;
    margin-top: 30px;
}

.footer-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/1147275.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.6;
    z-index: -1;
}
.optionContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.option{
    margin: 30px 60px;
}
.option img{
    height: 120px;
}

header button{
    cursor: pointer;
}